<link rel="stylesheet" href="/css/_footer.css">
<footer>
    <div>
        &#169; Vibranet. All Rights Reserved 
    </div>
    <div id="all-page-link">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#profile">Profile</a></li>
        </ul>
    </div>

</footer>