<link rel="stylesheet" href="/css/home_style.css">
<div id="home">
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" method="POSt" id="new-post-form">
        <textarea name="content" cols="30" rows="4" placeholder="Type Here...."></textarea>
        <input type="submit" value="Post">
    </form>
</section>
</div>